<div class="receipt-container">

    <!-- CLOSE BUTTON -->
    <button class="close-btn" (click)="close()">✖</button>

    <h2 class="title">{{ isEdit ? "Edit Receipt" : "Add Receipt" }}</h2>

    <form [formGroup]="form" (ngSubmit)="submit()" enctype="multipart/form-data">

        <!-- GRID 4 COLUMNS -->
        <div class="form-grid">

            <!-- ROW 1 -->
            <div class="field row-1" [class.filled]="form.get('receiptDate')?.value">
                <input type="date" formControlName="receiptDate" placeholder=" " />
                <label>Date</label>
            </div>

            <div class="field row-1" [class.filled]="form.get('transactionType')?.value">
                <select formControlName="transactionType">
                    <option value="1">Receive</option>
                    <option value="2">Payment</option>
                </select>
                <label>Transaction Type</label>
            </div>

            <div class="field row-1" [class.filled]="form.get('partyId')?.value">
                <select formControlName="partyId" (change)="onPartyChange($event)">
                    <option value="">Select Party</option>
                    <option *ngFor="let u of users" [value]="u.id">{{ u.username }}</option>
                </select>
                <label>Party Name</label>
            </div>

            <!-- EMPTY SLOT TO KEEP GRID CLEAN -->
            <div class="grid-spacer"></div>

            <!-- ROW 2 -->
            <div class="field row-2" [class.filled]="form.get('amount')?.value">
                <input type="number" formControlName="amount" placeholder=" " />
                <label>Amount</label>
            </div>

            <div class="field row-2" [class.filled]="form.get('paymentMode')?.value">
                <select formControlName="paymentMode">
                    <option value="0">Cash</option>
                    <option value="1">UPI</option>
                    <option value="2">Bank Transfer</option>
                    <option value="3">Card</option>
                </select>
                <label>Payment Mode</label>
            </div>

            <div class="field row-2" [class.filled]="form.get('transactionId')?.value">
                <input type="text" formControlName="transactionId" placeholder=" " />
                <label>Transaction ID</label>
            </div>

            <!-- EMPTY SLOT -->
            <div class="grid-spacer"></div>

            <!-- DESCRIPTION -->
            <div class="field full" [class.filled]="form.get('description')?.value">
                <textarea formControlName="description" rows="3" placeholder=" "></textarea>
                <label>Description</label>
            </div>

        </div>


        <!-- SUBMIT BUTTON -->
        <button class="submit-btn" type="submit">
            {{ isEdit ? "Update" : "Save" }}
        </button>

    </form>

</div>