<nav class="navbar">
  <div class="navbar-container">

    <!-- Brand -->
    <div class="navbar-brand">
      <a routerLink="/employees">Digital Data System</a>
    </div>

    <!-- SIMPLE SELECT DROPDOWN -->
    <!-- MASTER DROPDOWN → Only for ADMIN -->
    <select class="nav-select" (change)="navigate($event)" *ngIf="currentUser?.role === 'ROLE_ADMIN'">

      <option value="" disabled selected hidden>Master</option>
      <option value="/employees">Employees</option>
      <option value="/users">Users</option>
    </select>


    <!-- TRANSACTION DETAILS → Visible to ALL ROLES -->
    <select class="nav-select" (change)="navigate($event)">
      <option value="" disabled selected hidden>Transaction details</option>
      <option value="/km-list">KM List</option>
      <option value="/customers">Batch</option>
      <option value="/receipts">Receipt</option>
    </select>




    <!-- USER INFO + LOGOUT -->
    <div class="user-info" *ngIf="isLoggedIn">
      <span (click)="openProfile()" class="username">{{ currentUser?.username }}</span>
      <button class="btn-logout" (click)="logout()">Logout</button>
    </div>

  </div>
</nav>