<!-- <h2 class="page-title">Products</h2> -->

<!-- Dashboard Header -->
<div class="dashboard-header">
    <div class="header-left">
        <button mat-raised-button color="primary" (click)="openAddProductModal()">
            <mat-icon>add</mat-icon> Add Product
        </button>
    </div>
    <h2 class="page-title">Products</h2>
    <div class="header-center">
        <form [formGroup]="searchProductForm" class="search-form">
            <mat-form-field class="search-input">
                <input matInput formControlName="title" placeholder="Enter product name" />
                <button mat-icon-button matSuffix color="primary">
                    <mat-icon>search</mat-icon>
                </button>

            </mat-form-field>
        </form>

    </div>
</div>

<!-- PRODUCTS (NO CATEGORY, NO GROUPING) -->
<div class="category-product-row" *ngIf="products.length">

    <mat-card class="product-card" *ngFor="let product of products">

        <div class="product-image">
            <img *ngIf="product.img; else noImg" [src]="imageSrc(product.img)" alt="{{ product.name }}">
            <ng-template #noImg>
                <div class="no-img">No Image</div>
            </ng-template>
        </div>

        <div class="product-details">
            <h2 class="product-name">{{ product.name }}</h2>
            <p class="product-description">
                {{ product.description || 'No description' }}
            </p>

            <mat-divider></mat-divider>

            <div class="product-info">
                <span class="info-label">Price:</span>
                <span class="info-value">₹{{ product.unitPrice }}</span>
            </div>

            <mat-divider></mat-divider>

            <div class="actions">
                <button mat-raised-button color="accent" (click)="openUpdateProductModal(product.id)">
                    Update
                </button>
                <button mat-raised-button color="warn" (click)="deleteProduct(product.id)">
                    Delete
                </button>
            </div>
        </div>

    </mat-card>

</div>

<!-- EMPTY STATE -->
<div *ngIf="!products.length" class="empty-cart">
    <span>No products available</span>
</div>