/* FORCE DROPDOWN VISIBILITY */
.container,
.row,
.custom-select,
.field {
    overflow: visible !important;
}

/* FIELD */
.field {
    position: relative;
}

/* INPUT */
.field input {
    width: 100%;
    height: 46px;
    padding: 14px 12px 10px;
    border-radius: 10px;
    border: 1.5px solid #ced4da;
    background: #fff;
}

/* LABEL */
.field label {
    position: absolute;
    top: 14px;
    left: 14px;
    font-size: 18px;
    color: #666;
    background: #fff;
    padding: 0 6px;
    pointer-events: none;
    transition: .25s;
}

/* FLOAT */
.field.filled label,
.field input:focus+label,
.select-input.open+label {
    top: -8px;
    font-size: 18px;
    color: #0d6efd;
}

/* CUSTOM SELECT */
.custom-select {
    position: relative;
}

.select-input {
    height: 46px;
    padding: 14px 12px 10px;
    border-radius: 10px;
    border: 1.5px solid #ced4da;
    cursor: pointer;
}

.select-input.open {
    border-color: #0d6efd;
    box-shadow: 0 0 6px rgba(13, 110, 253, .35);
}

/* DROPDOWN */
.select-options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 220px;
    overflow-y: auto;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #ccc;
    z-index: 10000;
}

.option {
    padding: 10px 14px;
    cursor: pointer;
}

.option:hover {
    background: #f1f5ff;
}

/* MOBILE */
@media (max-width: 767px) {
    .select-options {
        max-height: 180px;
    }
}