<div class="user-form-container">
    <div class="form-box">

        <h2 class="form-title">
            {{ isEdit ? 'Edit User' : 'Add New User' }}
        </h2>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <!-- Username -->
            <div class="floating-group">
                <input type="text" formControlName="username" placeholder=" " required>
                <label>Username *</label>
            </div>

            <!-- Email -->
            <div class="floating-group">
                <input type="email" formControlName="email" placeholder=" " required>
                <label>Email *</label>
            </div>

            <!-- Password -->
            <div class="floating-group" *ngIf="!isEdit">
                <input type="password" formControlName="password" placeholder=" " required>
                <label>Password *</label>
            </div>

            <!-- Role -->
            <div class="floating-group">
                <select formControlName="role" required>
                    <option value="" disabled selected></option>
                    <option *ngFor="let r of roles" [value]="r">{{ r }}</option>
                </select>
                <label>Role *</label>
            </div>

            <!-- Mobile -->
            <div class="floating-group">
                <input type="text" formControlName="mobile" placeholder=" ">
                <label>Mobile</label>
            </div>

            <!-- Profile Image -->
            <div class="floating-group">
                <input type="file" accept="image/*" (change)="onImageSelected($event)">
                <label>Profile Image</label>
            </div>

            <!-- Preview -->
            <div class="image-preview" *ngIf="imagePreview">
                <img [src]="imagePreview" alt="Preview">
            </div>


            <!-- Buttons -->
            <div class="button-row">
                <button type="submit" class="btn-submit">
                    {{ isEdit ? 'Update User' : 'Create User' }}
                </button>

                <button type="button" class="btn-cancel" (click)="router.navigate(['/users'])">
                    Cancel
                </button>
            </div>

        </form>
    </div>
</div>