<div class="user-form-container">
    <div class="form-box">

        <h2 class="form-title">
            {{ isEdit ? 'Edit User' : 'Add New User' }}
        </h2>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <!-- Username -->
            <div class="form-group">
                <label>Username <span>*</span></label>
                <input type="text" formControlName="username" class="form-input" placeholder="Enter username">
            </div>

            <!-- Email -->
            <div class="form-group">
                <label>Email <span>*</span></label>
                <input type="email" formControlName="email" class="form-input" placeholder="Enter email">
            </div>

            <!-- Password (Hide in EDIT Mode) -->
            <div class="form-group" *ngIf="!isEdit">
                <label>Password <span>*</span></label>
                <input type="password" formControlName="password" class="form-input" placeholder="Enter password">
            </div>

            <!-- Role -->
            <div class="form-group">
                <label>Role <span>*</span></label>
                <select formControlName="role" class="form-select">
                    <option value="">Select Role</option>
                    <option *ngFor="let r of roles" [value]="r">{{ r }}</option>
                </select>
            </div>

            <!-- Buttons -->
            <div class="button-row">
                <button type="submit" class="btn-submit">
                    {{ isEdit ? 'Update User' : 'Create User' }}
                </button>

                <button type="button" class="btn-cancel" (click)="router.navigate(['/users'])">
                    Cancel
                </button>
            </div>

        </form>
    </div>
</div>